*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  transition: 0.3s;
  background:#f7f7f7;
  color:#1a1a1a;
}

body.dark{
  background:#1a1a1a;
  color:#f7f7f7;
}

header{
  text-align:center;
  padding:20px 0;
  background:#6c63ff;
  color:white;
  margin-bottom:25px;
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.container{
  width:350px;
  margin:auto;
  text-align:center;
}

.login-box{
  margin-bottom:20px;
}

input{
  width:90%;
  padding:8px;
  border-radius:5px;
  border:1px solid #777;
}

button{
  margin-top:10px;
  padding:8px 18px;
  border:none;
  cursor:pointer;
  border-radius:5px;
  background:#6c63ff;
  color:white;
  font-weight:bold;
  transition:0.3s;
}

button:hover{
  background:#5148d8;
}

.theme-btn{
  margin-top:25px;
  background:#ff914d;
}

.theme-btn:hover{
  background:#cf7239;
}

#welcomeMsg{
  margin-top:10px;
  font-weight:600;
}
